body {
  
background-color: #2b2d42;
}


nav {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  background: white ;
  position: fixed;
  top: 0;
  width: 100%;
   
  /*z-index: 100;*/
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
    color: red;
}

input[type= subtext], select, area{
    width: 15%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px
 
    

}

input[type=text], select, area{
    width: 15%;
    padding: 10px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 20px
       
}

input[type=nametext], select, area{
    width: 10%;
    padding: 12px;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px

}
a {
  color: #EF233C;
}

input[type=submit]{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contains {
      
        padding: 20px;
        text-align: center;
   
    
}
h2 {
  font-family: 'Anton', sans-serif;  
  font-size: 40px;
  margin-top: 0;
}
.fontforLab{
    font-family: 'Sanchez', serif;
    font-size: 25px;
    color: grey;
      
    }
.content-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 50px;
  overflow: hidden;
}

.footcol{
    color: black;
}
footer {
background-color: white;

}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


